html {
    background-color: #D1FFDA;
}
h3 {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-bottom 1px;
}
div#tpl_header {
    width: 100%;
    min-width: 640px;
}

div#tpl_footer {
    text-align: center;
    width: 100%;
    height: auto;
    clear: both;
}

ul#breadcrumbs {
    margin 2px;
    padding 1px;
    display: block;

    border: 1px solid #51945E;
    background-color: #F5FFF7;
}

li.breadcrumb {
    display: inline;
    width: auto;
    margin: 1px;
    padding: 1px;
}

li#firstbreadcrumb {
    list-style-type: circle;
}

a {
    color: #12B02F;
}

a:visited {
    color: #5B80B0;
}

div.loginform {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 4px;
    border: 1px solid #51945E;
    background-color: white;
    text-align: center;
}

label {
    display: inline-block;
    width: 160px;
    margin: auto;
    text-align: left;
}

hr {
    margin-top: 20px;
    margin-bottom: 5px;
    color: #51945E;
    background-color: #51945E;
    height: 1px;
    border: 0;
}

hr#footer_hr {
    clear: both;
}

p#loginstring {
    float: right;
    position: absolute;
    right: 8px;
    top: 0;
    width: auto;
}

h3#pagetitle {
    width: 50%;
}

fieldset {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
