/* This CSS style sheet was developed by www.studio7designs.com for opensourcetemplates.org ... Please email if you have any questions aran@studio7designs.com  Have fun! */


body{
background:#000000 url('../img/bg.jpg') top center repeat-x;
margin:10px 10px 0px 10px;
padding:0px;
color:#999999;
font-family:"Trebuchet MS",arial,sans-serif;
font-size:70.5%;
}

#blogtitle{
width:100%;	
margin:0px auto;
padding:0 0 5px 0;
font-size:1.1em;
line-height:1.2em;

}

#small{
positon:relative;
padding-left: 5px;

}

#small2{
positon:relative;
float:right;
margin-top: -15px;

}

#blogtitle a:link, a:visited{
color:#b8ce83;
text-decoration:none;
}

#blogtitle a:hover, a:active{
color:#fff;
text-decoration:none;

}


UL.BLUE {
list-style: url(../img/bullet.jpg) disc;
font-size: 1.1em;

}

.centercontenttitlebar {
    font-size: 18px;
    color: #ABABAB;
    height: 25px;
}

.centercontentsection {
   padding-top: 5px; 
}

#centercontent {
margin-top: 16px;
background:#ffffff url('../img/bg.jpg') top center repeat-x;
margin-left: auto;
margin-right: auto;
color:#000;
voice-family: "\"}\"";
voice-family: inherit;
padding:20px;
padding-top: 3px;
margin-bottom: 8px;
min-width: 400px;
max-width: 800px;
}

#centercontent p {color:#888;}

#centercontent a, a:link { color:#006633;}

#centercontent a:hover, a:active{ color:#FF6666;}


.centercontentleft {float:left; width:40%; height:200px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 5px 10px; padding:6px; font-size:1.1em; color:#666666;}

.centercontentright {float:right; width:30%; height:100px; background-color:#fff; text-align:left;
border:dashed 2px #ccc; margin: 4px 10px 5px 10px; padding:6px; font-size:1.1em; color:#666666;}


#rightcontent {
position: absolute;
right:10px;
top:50px;
width:175px;
font-size:1.1em;
background-image:url("../img/strips_onside.jpg");
background-repeat:repeat-y;
margin-top: 5px; 
padding-left: 5px;
padding-right: 8px;
padding-top: 8px;

}


#rightcontent p {color:#888;}

#rightcontent a, a:link { color:#888; font-weight:600;}

#rightcontent a:hover, a:active{ color:#FF6666;}


#banner {
background:#fff;
height:40px;
voice-family: "\"}\"";
voice-family: inherit;
height:39px;

}


html>body #banner {
height:39px;

}


p,h1,pre {
margin:0px 10px 10px 10px;
font:Arial, Helvetica, sans-serif;
font-size:12px;
line-height: 1.6em;
text-align:justify;
text-decoration:none;
}

h1 {
font-size:2.5em;
float:right;
color:#ccc;
padding-top:15px;

}

h3 {
font-size:14px;
color:#999;

}

#banner h1 {
font-size:14px;
padding:10px 10px 0px 10px;
margin:0px;

}

/* ~~~~~~~~~ BEGIN FOOTER ~~~~~~~~~ */

#footer{
/*height:329px;*/
background:#000 url('../img/bg.jpg') top center repeat-x;
text-align: center;
padding-top: 8px;
clear: both;
float: none;
margin-left: -10px;
margin-right: -10px;
margin-bottom: -20px;

}

#footer a, a:link {
color:#999999;
text-decoration: none;

}
#footer a:hover {
color:#A5CE77;
text-decoration: none;

}

/* ~~~~~~~~~ END FOOTER~~~~~~~~~ */
